In [193]:
import os
import docx2txt
import glob
import pandas as pd  
from pdfminer.high_level import extract_text
import os, subprocess
import re
import string

### Reading all resumes

In [259]:

resume = []
file_name = []
for file in glob.glob(r'/Users/vp054179/Downloads/Resumes/5_Resumes/*'):
    resume_name = file[file.rfind('/')+1:]
   
    if resume_name.endswith('.docx'):
        try:
            resume.append(docx2txt.process(file))
            file_name.append(resume_name)
        except:
              print(file)
        
    if resume_name.endswith(".pdf"):
        text = extract_text(file)
        resume.append(text)
        file_name.append(resume_name)
        
    if resume_name.endswith(".doc"):
        file = open(file, 'r', encoding="ISO-8859-1")
        text = str(file.read())
        text = re.sub(r'[^\x00-\x7f]',r'', text) 
        text = re.sub('[^a-zA-Z]',' ', text)
        text = ' '.join(word for word in text.split() if len(word)>2)
        resume.append(text)
        file_name.append(resume_name)
        file.close()
        
        
print(len(resume))

71

In [265]:

# text = ""

# for file in glob.glob(r'/Users/vp054179/Downloads/Resumes/5_Resumes/*'):
#     resume_name = file[file.rfind('/')+1:]
#     if resume_name.endswith(".doc"):
#         file = open(file, 'r', encoding="ISO-8859-1")
#         text = str(file.read())
#         text = re.sub(r'[^\x00-\x7f]',r'', text) 
#         text = re.sub('[^a-zA-Z]',' ', text)
#         text = ' '.join(word for word in text.split() if len(word)>2)
#         resume.append(text)
#         file_name.append(resume_name)
#         file.close()
#         break
# print(text)

In [261]:
len(resume)

71

### creating a dataframe

In [262]:
resumes_data = pd.DataFrame({'resume_name':file_name,'resume_description':resume})
resumes_data.head()

,resume_name,resume_description
0,Reactjs Developer_Ranga Gaganam_Musquare Techn...,Ranga Gaganam \n\n\n\n \n\nProfessional\n\n \...
1,Peoplesoft Admin_Vinod Akkala.doc,bjbjb Vinod Akkala PeopleSoft DBA Admin Profes...
2,Hima Mendu_Hexaware.doc,bjbjb HIMA MENDU Career Objective continue gro...
3,MooraboyinaGuravaiah_Hexaware.docx,Mooraboyina Guravaiah\n\nWorkday Integration S...
4,RameshP_Hexaware.docx,Ramesh A\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...

In [263]:
#processing text
resumes_data['resume_description'].replace({r'[^a-zA-Z]+':' '}, regex = True, inplace = True)

resumes_data.head()

,resume_name,resume_description
0,Reactjs Developer_Ranga Gaganam_Musquare Techn...,Ranga Gaganam Professional Summary Professiona...
1,Peoplesoft Admin_Vinod Akkala.doc,bjbjb Vinod Akkala PeopleSoft DBA Admin Profes...
2,Hima Mendu_Hexaware.doc,bjbjb HIMA MENDU Career Objective continue gro...
3,MooraboyinaGuravaiah_Hexaware.docx,Mooraboyina Guravaiah Workday Integration Spec...
4,RameshP_Hexaware.docx,Ramesh A Workday HCM Consultant PROFESSIONAL S...

In [264]:
resumes_data.to_csv('resumes_data.csv')