In [66]:
import glob
import pandas as pd
import docx2txt

In [69]:
for name in glob.glob(r'/Users/vp054179/Downloads/Resumes/5_Resumes/*'):
    print(name)

/Users/vp054179/Downloads/Resumes/5_Resumes/React Dev_Krishna Kanth.docx
/Users/vp054179/Downloads/Resumes/5_Resumes/React Dev_Krishna Kanth_Musquare Technologies.docx
/Users/vp054179/Downloads/Resumes/5_Resumes/SQL_Anil_kumar.docx
/Users/vp054179/Downloads/Resumes/5_Resumes/Internship_Ravali_Musquare_Technologies.docx
/Users/vp054179/Downloads/Resumes/5_Resumes/React Developer_Deepakreddy.docx
/Users/vp054179/Downloads/Resumes/5_Resumes/React Developer_Haripriya.docx
/Users/vp054179/Downloads/Resumes/5_Resumes/React Developer_Kamalakar Reddy.docx
/Users/vp054179/Downloads/Resumes/5_Resumes/Internship_Susovan_Bag_Musquare_Technologies.docx

In [70]:
glob.glob(r'/Users/vp054179/Downloads/Resumes/5_Resumes/*')

['/Users/vp054179/Downloads/Resumes/5_Resumes/React Dev_Krishna Kanth.docx',
 '/Users/vp054179/Downloads/Resumes/5_Resumes/React Dev_Krishna Kanth_Musquare Technologies.docx',
 '/Users/vp054179/Downloads/Resumes/5_Resumes/SQL_Anil_kumar.docx',
 '/Users/vp054179/Downloads/Resumes/5_Resumes/Internship_Ravali_Musquare_Technologies.docx',
 '/Users/vp054179/Downloads/Resumes/5_Resumes/React Developer_Deepakreddy.docx',
 '/Users/vp054179/Downloads/Resumes/5_Resumes/React Developer_Haripriya.docx',
 '/Users/vp054179/Downloads/Resumes/5_Resumes/React Developer_Kamalakar Reddy.docx',
 '/Users/vp054179/Downloads/Resumes/5_Resumes/Internship_Susovan_Bag_Musquare_Technologies.docx']

In [71]:

resume = []
file_name = []
for file in glob.glob(r'/Users/vp054179/Downloads/Resumes/5_Resumes/*'):
    resume.append(docx2txt.process(file))
    resume_name = file[file.rfind('/')+1:]
    file_name.append(resume_name)

In [76]:
len(file_name)

8

In [75]:
len(resume)

8

In [77]:
data = pd.DataFrame({'resume':resume,'file_name':file_name})
data['ind'] = data.index
data

,resume,file_name,ind
0,Ui-Developer/ React JS Developer \n\nNAME: KRI...,React Dev_Krishna Kanth.docx,0
1,Ui-Developer/ React JS Developer \n\nNAME: KRI...,React Dev_Krishna Kanth_Musquare Technologies....,1
2,ANIL KUMAR MADDUKURI \t\t\n\nSQL & MSBI Devel...,SQL_Anil_kumar.docx,2
3,Name: Ravali P \n\n\n\n ...,Internship_Ravali_Musquare_Technologies.docx,3
4,Kanumuru Deepak Reddy\n\n\n\n\t\n\n\n\nCAREER ...,React Developer_Deepakreddy.docx,4
5,HARIPRIYA BATTINA \n\nExperience as UI Develop...,React Developer_Haripriya.docx,5
6,KAMALAKAR REDDY. A \n\nLinked In: https://www....,React Developer_Kamalakar Reddy.docx,6
7,SUSOVAN BAG \n\nSeeking a challenging po...,Internship_Susovan_Bag_Musquare_Technologies.docx,7

In [78]:
category = ['React','Java','Dotnet','SQL','Musquare']

In [79]:
data['category'] = ''

In [80]:
for i in data.values:
    for x in category:
        if i[1].lower().find(x.lower()) != -1:
            data.loc[i[2],'category'] = x

In [81]:
data

,resume,file_name,ind,category
0,Ui-Developer/ React JS Developer \n\nNAME: KRI...,React Dev_Krishna Kanth.docx,0,React
1,Ui-Developer/ React JS Developer \n\nNAME: KRI...,React Dev_Krishna Kanth_Musquare Technologies....,1,Musquare
2,ANIL KUMAR MADDUKURI \t\t\n\nSQL & MSBI Devel...,SQL_Anil_kumar.docx,2,SQL
3,Name: Ravali P \n\n\n\n ...,Internship_Ravali_Musquare_Technologies.docx,3,Musquare
4,Kanumuru Deepak Reddy\n\n\n\n\t\n\n\n\nCAREER ...,React Developer_Deepakreddy.docx,4,React
5,HARIPRIYA BATTINA \n\nExperience as UI Develop...,React Developer_Haripriya.docx,5,React
6,KAMALAKAR REDDY. A \n\nLinked In: https://www....,React Developer_Kamalakar Reddy.docx,6,React
7,SUSOVAN BAG \n\nSeeking a challenging po...,Internship_Susovan_Bag_Musquare_Technologies.docx,7,Musquare