In [1]:
import pandas as pd
import turicreate

In [6]:
ratings_train = pd.read_csv('../../Exlr_Assignments/Datasets/book_RE.csv')
ratings_train.head()

,Unnamed: 0,User.ID,Book.Title,Book.Rating
0,1,276726,Classical Mythology,5
1,2,276729,Clara Callan,3
2,3,276729,Decision in Normandy,6
3,4,276736,Flu: The Story of the Great Influenza Pandemic...,8
4,5,276737,The Mummies of Urumchi,6

In [7]:
train_data = turicreate.SFrame(ratings_train)
train_data

Columns:
	Unnamed: 0	int
	User.ID	int
	Book.Title	str
	Book.Rating	int

Rows: 10000

Data:
+------------+---------+-------------------------------+-------------+
| Unnamed: 0 | User.ID |           Book.Title          | Book.Rating |
+------------+---------+-------------------------------+-------------+
|     1      |  276726 |      Classical Mythology      |      5      |
|     2      |  276729 |          Clara Callan         |      3      |
|     3      |  276729 |      Decision in Normandy     |      6      |
|     4      |  276736 | Flu: The Story of the Grea... |      8      |
|     5      |  276737 |     The Mummies of Urumchi    |      6      |
|     6      |  276744 |     The Kitchen God's Wife    |      7      |
|     7      |  276745 | What If?: The World's Fore... |      10     |
|     8      |  276747 |        PLEADING GUILTY        |      9      |
|     9      |  276747 | Under the Black Flag: The ... |      9      |
|     10     |  276747 | Where You'll Find Me: And ... |      8      |
+------------+---------+-------------------------------+-------------+
[10000 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

## Popularity Based Filtering

In [9]:
popularity_model = turicreate.popularity_recommender.create(observation_data=train_data,
    user_id='User.ID',
    item_id='Book.Title',
    target='Book.Rating')

Warning: Ignoring columns Unnamed: 0;

    To use these columns in scoring predictions, use a model that allows the use of additional features.

Preparing data set.

    Data has 10000 observations with 2182 users and 9659 items.

    Data prepared in: 0.039345s

10000 observations to process; with 9659 unique items.

In [10]:
#We will recommend the top 5 items for the first 5 users in our dataset
users_5 = ratings_train['User.ID'].unique()
popularity_recomm = popularity_model.recommend(users=users_5[:5],k=5)
#we are recomending books for first 5 users,with avg rating 5
popularity_recomm.print_rows(num_rows=25)

+---------+-------------------------------+-------+------+
| User.ID |           Book.Title          | score | rank |
+---------+-------------------------------+-------+------+
|  276726 |       Sturmzeit. Roman.       |  10.0 |  1   |
|  276726 |  Tell Me This Isn't Happening |  10.0 |  2   |
|  276726 | Mary-Kate &amp; Ashley Swi... |  10.0 |  3   |
|  276726 | More Cunning Than Man: A S... |  10.0 |  4   |
|  276726 | What If?: The World's Fore... |  10.0 |  5   |
|  276729 |       Sturmzeit. Roman.       |  10.0 |  1   |
|  276729 |  Tell Me This Isn't Happening |  10.0 |  2   |
|  276729 | Mary-Kate &amp; Ashley Swi... |  10.0 |  3   |
|  276729 | More Cunning Than Man: A S... |  10.0 |  4   |
|  276729 | What If?: The World's Fore... |  10.0 |  5   |
|  276736 |       Sturmzeit. Roman.       |  10.0 |  1   |
|  276736 |  Tell Me This Isn't Happening |  10.0 |  2   |
|  276736 | Mary-Kate &amp; Ashley Swi... |  10.0 |  3   |
|  276736 | More Cunning Than Man: A S... |  10.0 |  4   |
|  276736 | What If?: The World's Fore... |  10.0 |  5   |
|  276737 |       Sturmzeit. Roman.       |  10.0 |  1   |
|  276737 |  Tell Me This Isn't Happening |  10.0 |  2   |
|  276737 | Mary-Kate &amp; Ashley Swi... |  10.0 |  3   |
|  276737 | More Cunning Than Man: A S... |  10.0 |  4   |
|  276737 | What If?: The World's Fore... |  10.0 |  5   |
|  276744 |       Sturmzeit. Roman.       |  10.0 |  1   |
|  276744 |  Tell Me This Isn't Happening |  10.0 |  2   |
|  276744 | Mary-Kate &amp; Ashley Swi... |  10.0 |  3   |
|  276744 | More Cunning Than Man: A S... |  10.0 |  4   |
|  276744 | What If?: The World's Fore... |  10.0 |  5   |
+---------+-------------------------------+-------+------+
[25 rows x 4 columns]

## Item to Item collebrative filtering

In [11]:
item_recomm_model = turicreate.item_similarity_recommender.create(observation_data=train_data,
    user_id='User.ID',
    item_id='Book.Title',
    target='Book.Rating',similarity_type='cosine')

Warning: Ignoring columns Unnamed: 0;

    To use these columns in scoring predictions, use a model that allows the use of additional features.

Preparing data set.

    Data has 10000 observations with 2182 users and 9659 items.

    Data prepared in: 0.039441s

Training model from provided data.

Gathering per-item and per-user statistics.

+--------------------------------+------------+

| Elapsed Time (Item Statistics) | % Complete |

+--------------------------------+------------+

| 1.178ms                        | 45.75      |

| 1.798ms                        | 100        |

+--------------------------------+------------+

Setting up lookup tables.

Processing data in one pass using dense lookup tables.

+-------------------------------------+------------------+-----------------+

| Elapsed Time (Constructing Lookups) | Total % Complete | Items Processed |

+-------------------------------------+------------------+-----------------+

| 144.998ms                           | 0                | 0               |

| 263.741ms                           | 100              | 9659            |

+-------------------------------------+------------------+-----------------+

Finalizing lookup tables.

Generating candidate set for working with new users.

Finished training in 1.27997s

In [13]:
#We will recommend the top 5 items for the first 5 users in our dataset
users_5 = ratings_train['User.ID'].unique()
#Making recommendations
item_recomm = item_recomm_model.recommend(users=users_5[:5],k=5)
item_recomm.print_rows(num_rows=25)

+---------+--------------------------------+----------------------+------+
| User.ID |           Book.Title           |        score         | rank |
+---------+--------------------------------+----------------------+------+
|  276726 | A la vora del pou (El Balancí) | 0.045764436721801756 |  1   |
|  276726 |     Tríptics (El Balancí)      | 0.045764436721801756 |  2   |
|  276726 |      Els plaers ficticis       | 0.045764436721801756 |  3   |
|  276726 | L'adoració perpètua (Col¨l...  | 0.045764436721801756 |  4   |
|  276726 | Evangeli gris (Biblioteca ...  | 0.045764436721801756 |  5   |
|  276729 | What If?: The World's Fore...  |         0.0          |  1   |
|  276729 |     The Kitchen God's Wife     |         0.0          |  2   |
|  276729 |     The Mummies of Urumchi     |         0.0          |  3   |
|  276729 | Flu: The Story of the Grea...  |         0.0          |  4   |
|  276729 |      Classical Mythology       |         0.0          |  5   |
|  276736 | A la vora del pou (El Balancí) | 0.045764436721801756 |  1   |
|  276736 |     Tríptics (El Balancí)      | 0.045764436721801756 |  2   |
|  276736 |      Els plaers ficticis       | 0.045764436721801756 |  3   |
|  276736 | L'adoració perpètua (Col¨l...  | 0.045764436721801756 |  4   |
|  276736 | Evangeli gris (Biblioteca ...  | 0.045764436721801756 |  5   |
|  276737 | A la vora del pou (El Balancí) | 0.045764436721801756 |  1   |
|  276737 |     Tríptics (El Balancí)      | 0.045764436721801756 |  2   |
|  276737 |      Els plaers ficticis       | 0.045764436721801756 |  3   |
|  276737 | L'adoració perpètua (Col¨l...  | 0.045764436721801756 |  4   |
|  276737 | Evangeli gris (Biblioteca ...  | 0.045764436721801756 |  5   |
|  276744 | Adventures of Huckleberry ...  |  4.949747383594513   |  1   |
|  276744 | Chicken Soup for the Mothe...  |  4.949747383594513   |  2   |
|  276744 | Sacred Journey of the Peac...  |  4.949747383594513   |  3   |
|  276744 | The Adventures of Augie March  |  4.949747383594513   |  4   |
|  276744 |     The Mummies of Urumchi     |         0.0          |  5   |
+---------+--------------------------------+----------------------+------+
[25 rows x 4 columns]