Fisher score is one of the most widely used supervised feature selection methods. The algorithm which we will use returns the ranks of the variables based on the fisherâ€™s score in descending order. We can then select the variables as per the case.

In [6]:
!pip install skfeature

ERROR: Could not find a version that satisfies the requirement skfeature
ERROR: No matching distribution found for skfeature

In [2]:
import pandas as pd
pd.set_option('display.max_columns',None)
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('../../Exlr_Assignments/Datasets/Zoo.csv')
data.head()

,animal name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [4]:
del data['animal name']
data = pd.get_dummies(data=data,columns=['legs'],drop_first=True)
data.head()

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,tail,domestic,catsize,type,legs_2,legs_4,legs_5,legs_6,legs_8
0,1,0,0,1,0,0,1,1,1,1,0,0,0,0,1,1,0,1,0,0,0
1,1,0,0,1,0,0,0,1,1,1,0,0,1,0,1,1,0,1,0,0,0
2,0,0,1,0,0,1,1,1,1,0,0,1,1,0,0,4,0,0,0,0,0
3,1,0,0,1,0,0,1,1,1,1,0,0,0,0,1,1,0,1,0,0,0
4,1,0,0,1,0,0,1,1,1,1,0,0,1,0,1,1,0,1,0,0,0

In [5]:
X = data.drop(labels='type',axis=1)
y = data['type']

In [7]:
ranks = Fisher_score.fisher_score(X,y)

feature_importantces = pd.series(ranks,X.colomns)
feature_importantces.plot(kind = 'barh',color='teal')
plt.show()

NameError: name 'Fisher_score' is not defined